.hidden {
    display: none;
}
.flex {
    display: flex;
}
.navbar {
    position: relative;
    height: 121px;
    padding: 40px 24px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.navbar__logo {
    width: 154px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: ghostwhite;
    text-decoration: none;
    color: #205E61;
    padding: 6px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: 200ms;
}
.navbar__logo:hover {
    background-color:  #00ADB5;
    color: ghostwhite;
}

.navbar__links {
    display: none;
}


.navbar__burger__menu {
    font-weight: bold;
    padding: 60px 0;
    position: absolute;
    left: 0;
    top: 121px;
    background-color: black;
    width: 100%;
    min-height: calc(100vh - 121px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    z-index: 10;
}

.navbar__burger__menu a {
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: ghostwhite;
    text-decoration: none;
    font-size: 42px;
}

.navbar__burger__icon {
    width: 40px;
    height: 40px;
    display: block;
    background-color: transparent;
    border: none;
    color: ghostwhite;
}
.navbar__burgerMenu__link:hover {
    color: #00ADB5;
}
@media (min-width: 768px){
    .navbar {
        padding: 40px 80px;
        border-bottom: solid 1px rgba(238,238,238,0.1);
    }
    .navbar__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
        row-gap: 24px;
        column-gap: 44px;
        padding-left: 44px;
    }
    .navbar__links a {
        text-decoration: none;
        color: ghostwhite;
    }
    .navbar__links-link:hover {
        color: #00ADB5;
    }
    .navbar__burger__menu {
        display: none;
    }
    .navbar__burger__icon {
        display: none;
    }
}
